<div class="card-center p-5">
  <h1 class="text-center mb-3 ">Ajouter un commune</h1>
  <div class="date text-center"> 
		<%= form_tag url_for(action:'create'), method:'post' do %>
			<div class="mb-2">Nom de la commune</div>
				<input type="text" name="name" placeholder ="Nom de la région" class="neo-form content-modal mb-2" required >
        <div class="text-center">
          <input type="submit" value="Enregistrer" class="btn-modal btn btn-success">
        </div>
		<%end%>
	</div>
</div>