.box-login {
  margin: 4% auto;
  padding: 12px;
  display: flex;
  justify-content: space-between;
}

.box-login .box-login-image {
  width: 48%;
}

.box-login .box-login-image img {
  width: 100%;
}

.box-login .box-login-form {
  background-color: #f8f8f8;
  box-shadow: 0px 0px 10px black;
  padding: 15px;
}

.box-login .log-submit {
  padding: 5px 25px;
  margin-top: 8px;
  cursor: pointer;
}
