.box-login {
  margin: 24px auto;
  margin-bottom: 0;
  padding: 12px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.box-login .box-login-image {
  width: 48%;
}

.box-login .box-login-image img {
  width: 100%;
}

.box-login .box-login-form {
  background-color: #dfdfdf;
  box-shadow: 1px 1px 10px 1px #dfdfdf;
  padding: 15px;
}

.box-login .log-submit {
  padding: 5px 25px;
  margin-top: 8px;
  cursor: pointer;
}
