@media screen and (min-width: 320px) {
  //  page log
  .box-login {
    width: 100%;
    .box-login-form {
      width: 80%;
      margin: 0 auto;
    }
    .box-login-image {
      display: none;
    }
  }
  .box-signup {
    width: 100%;
    .box-signup-image {
      display: none;
    }
    .sign-up {
      width: 90%;
      margin: 0 auto;
      .sp-flex {
        flex-wrap: wrap;
        .sp-flex1,
        .sp-flex2 {
          width: 100%;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  //  page login
  .box-login {
    width: 90%;
    .box-login-form {
      width: 70%;
      margin: 0 auto;
    }
    .box-login-image {
      display: none;
    }
  }

  .box-signup {
    width: 90%;
    .sign-up {
      .sp-flex {
        flex-wrap: nowrap;
        .sp-flex1,
        .sp-flex2 {
          width: 49%;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  //  page login
  .box-login {
    width: 70%;
    box-shadow: 1px 1px 10px 1px grey;
    .box-login-form {
      width: 48%;
    }
    .box-login-image {
      align-self: center;
      display: block;
    }
  }
  .box-signup {
    box-shadow: 1px 1px 10px 1px grey;
    .sign-up {
      width: 60%;
      .sp-flex {
        flex-wrap: nowrap;
        .sp-flex1,
        .sp-flex2 {
          width: 48%;
        }
      }
    }
    .box-signup-image {
      display: block;
      align-self: center;
    }
  }
}

@media screen and (min-width: 1200px) {
  // navbar
}
