.region-box {
  position: relative;
  .ul-table {
    position: absolute;
    height: 187px;
    width: 100%;
    text-align: center;
    overflow-y: auto;
    border-collapse: collapse;
    z-index: 20;
    li {
      cursor: pointer;
      border: 1px solid #c4c4c4;
      background: #d3d2d2;
      padding: 10px;
      &:hover,
      &:active {
        background: rgb(250, 246, 246);
      }
    }
    div {
      border: 1px solid red;
      box-shadow: 1px 1px 5px 1px red;
      background: rgba(231, 231, 231, 0.514);
      color: red;
      padding: 10px;
    }
  }
}
