<div class="container pt-5 pb-5 text-center">
	<div class="row">
		<%= form_tag url_for(action:'update'), method:'put' do %><br>
			Début du Mandat<br>
			<input type="date" name="start_date" min= <%=Time.now%>><br>
			Fin du Mandat<br>
			<input type="date" name="end_date" min= <%=Time.now%>><br>
			<input type="submit" value="Enregistrer"><br>
		<%end%>
	</div>
</div>