<h1>Daties#index</h1>
<p>Find me in app/views/daties/index.html.erb</p>
<% k = @date.end_date - @date.start_date  %>

<%= k %>

	<div>
		<div class="bloc" id="days">	
		</div>
		<div class="bloc" id="hours">	
		</div>
		<div class="bloc" id="minutes">	
		</div>
		<div class="bloc" id="seconds">	
		</div>
	</div>

