
<% @date.each do |date|  %>
	<%= date.end_date %>
	<%= date.start_date %>
<%end %>

<div>
	<div class="bloc" id="days">	
	</div>
	<div class="bloc" id="hours">	
	</div>
	<div class="bloc" id="minutes">	
	</div>
	<div class="bloc" id="seconds">	
	</div>
</div>

