
<div class="container pt-5 pb-5 text-center ">
	<h1>
		Voici la liste des dates créer au part avant
	</h1>
	<% @date.each do |date|  %>
		<%= date.end_date %>
		<%= date.start_date %>
		<br>
	<%end %>
</div>

