<!-- Lien modale -->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<div class="bg-page">
  <div class="card-center p-5">
    <h1 class="text-center mb-5">Voici la date du mandat</h1>
    <div class="date "> 
			<p class="text-center">
				Debut : <%= @date.start_date %><br>
				Fin : <%= @date.end_date %><br><br>
			</p>
		</div>
		<div class="d-flex justify-content-between">
			<% if user_signed_in? %>
				<% if current_user.is_admins == true %>
					<button onclick="document.getElementById('id01').style.display='block'" class="btn btn-success"><span class="btn-label m-1"><i class="fa fa-edit"></i></span>Editer la Date du Mandat</button>
					<%= link_to "Effacer la date du Mandat", daty_path(@date.id), method:"delete",class:'btn btn-labeled btn-danger' %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
   <!-- MODAL section -->
  <div class="w3-container">
    <div id="id01" class="w3-modal">
      <div class="w3-modal-content w3-animate-top w3-card-4">
        <header class="w3-container close-icon"> 
          <span onclick="document.getElementById('id01').style.display='none'" 
          class="w3-button w3-display-topright">&times;</span>
        </header>
          <%= render "daties/edit.html.erb" %>
        <footer class="w3-container w3-teal">
        </footer>
      </div>
    </div>
  </div>