@font-face {
    font-family: 'orange';
    src: url('orange/orangejuice.eot');
    src: url('orange/orangejuice.eot?#iefix') format('embedded-opentype'),
        url('orange/orangejuice.woff2') format('woff2'),
        url('orange/orangejuice.woff') format('woff'),
        url('orange/orangejuice.ttf') format('truetype'),
        url('orange/orangejuice.svg#orangejuice') format('svg');
    font-weight: normal;
    font-style: normal;
}
