<div class="container">
	<h1>Création d'un engagement</h1>
	<div class="row">
		<%= form_tag url_for(action:'create'), method:'post' do %><br>
			Contenu de l'engagement<br>
			<input type="text" name="content" ><br>
			<input type="submit" value="Créer"><br>
		<%end%>
	</div>
</div>