<h1>Toutes les actualités</h1>

<div class="container">
	<p>
		<% @actualite.each do |actualite| %>
			<strong>Titre : </strong>
			<%= actualite.title %><br>
			<strong> Description : </strong><br>
			<%= actualite.description %><br>
			<%= link_to "voir", actuality_path(actualite) %> <br>
			<%if actualite.actuphotos.attached?%>
			  <%= image_tag (actualite.actuphotos.last), class:"img-display carousel-display card-img-top proimg",alt: "Photo d'actualité" %>
			<%end%>
			<br><br>
		<% end %>
	</p>
</div>