<h1>Création des actualités</h1>
<div class="container">
	<div class="date  col-md-4">
		<%= form_tag url_for(action:'create'), method:'post' do %><br>
			Ajouter le titre d'actualité<br>
			<input type="text" class="form-control" name="title" placeholder="Titre" ><br>
			Son contenu<br>
			<textarea type="text" class="form-control" name="description" placeholder="Description..." ></textarea> <br>
			<input type="submit" value="Créer" ><br>
		<%end%>
	</div>
</div>

