<div class="container text-center pb-5 pt-5">
	<h1>Que pensez-vous ?</h1>
	<div class="date ">
		<%= form_tag url_for(action:'create'), method:'post' do %><br>
			Ajouter le titre d'actualité<br>
			<input type="text" class="form-control" name="title" placeholder="Titre" ><br>
			Son contenu<br>
			<textarea type="text" class="form-control" name="description" placeholder="Description..." ></textarea> <br>
			<input type="submit" value="Ajouter" ><br>
		<%end%>
	</div>
</div>

