<h1>Notre Candidat élu et ses promesses</h1>

<h5>Le candidat <%= @candidat_valid.name %> est élu avec un résultat de <%= @candidat_valid.resultat %> % </h5> <br>
<p>Voici tous ses promesses et ces engagements </p>
<ul>
	<% @promesse.each do |promesse| %>
		<li>
			<%= promesse.content %>
		</li>
	<% end %>
</ul>