/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.

 *= require bootstrap.min
 *= require owl.carousel.min
 *= require magnific-popup
 *= require font-awesome.min
 *= require themify-icons
 *= require nice-select
 *= require flaticon
 *= require gijgo
 *= require animate
 *= require slick
 *= require slicknav
 *= require style
 *= require app
 *= require comptes
 *= require devise
 *= require responsive
 *= require countdown
 *= require footer
 *= require_tree .
 *= require_self

 */

.search-cust {
  font-size: 20px !important;
  color: #fff;
}

.search-cust:hover {
  color: #000;
  transition: 0.3s;
}

.search {
  width: 130px;
  height: 35px;
  box-sizing: border-box;
  border-style: none;
  outline: none;
  border-bottom: 2px solid #ccc;
  border-radius: 3px;
  font-size: 16px;
  background-color: transparent;
  padding: 10px 20px 10px 0px;
  transition: width 0.4s ease-in-out;
  color: white;
}

.search:focus {
  width: 65%;
  outline: none;
}
.yield {
  padding-top: 150px;
}
.search-sub {
  background-color: transparent;
  border: 0;
}

@media screen and (max-width: 991px) {
  .search-cust:hover {
    color: #97ccfe;
    transition: 0.3s;
  }
}

/*responsive commandes*/
@media screen and (min-width: 420px) and (max-width: 720px) {
}

@media screen and (min-width: 420px) and (max-width: 530px) {
}

@media screen and (min-width: 200px) and (max-width: 420px) {
}
