// Place all the styles related to the candidats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tailimg{
    width: 20%;
    height: 20%;
}

#about{
	margin-left: 20px;
}

.boutton-flex{
	margin: 20px auto 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.margin{
	margin-top: 80px;
	}

.content{
	padding: 10px;
	border: 0px solid #bbb;
	border-radius: 10px;
	box-shadow: 2px 2px 2px 2px#bbb;
	width: 60%;
	margin: 0 auto;
	background-color: #FFF;
}
#create{
	font-size: 18px;
}
.new-candidat{
	padding: 20px;
	height: 100%;
}
.form-custom{
	font-size: 12px;
	padding: 10px 15px;
	border: 1px solid #bbb;
	border-radius: 10px;

}

.image-r{
	width: 100%;
}
.image-width{
	width: 100%;
	border-radius: 10px 10px 0 0;
}

.candidat-container{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 30px;
}
.candidat-content{
	border: solid 1px #aaa;
	border-radius: 10px;
	width: 400px;
	margin: 10px;
}
.candidat-content:hover{
	box-shadow: 2px 2px 2px 2px #bbb;
}
.left{
	text-align: left;
}
.pad{
	padding: 10px;
}
 .boutt{
 	align-items: center;
 	color: #1bb1ff;
 	border: solid 1px #1bb1ff;
 	border-radius: 10px;
 	padding: 0 20px;
 }
 .bottom{
 	text-align: center;
 }
 .btn-sondage{
 	margin: 0 auto;
 	padding: 10px;
 	color: #1bb1ff;
 	border: solid 1px #1bb1ff;
 	border-radius: 10px;
 }
 .btn-sondage:hover{
 	text-decoration: underline;
 }

 .t-color{
 	color: black;
 }

#titre{
	color: white;
	font-size: 2em;
	font-family: cursive;
	text-align: center;
}


/* :: 14.0 Team CSS */

@import '_miscellaneous';
@import '_color';

.team-content-area {
    position: relative;
    z-index: 1;
    padding: 40px;
    @include box-shadow(0 4px 20px 3px rgba(0, 0, 0, 0.10));
    border-radius: 10px;
    text-align: center;
    @include transition-duration(500ms);
    background-color: $white;

    .member-thumb {
        margin: 0 auto 40px;
        width: 165px;

        img {
            @include transition-duration(500ms);
            width: 100%;
            border-radius: 50%;
        }
    }

    h5 {
        @include transition-duration(500ms);
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 0;
    }

    span {
        @include transition-duration(500ms);
        color: $white;
        font-size: 12px;
        text-transform: uppercase;
    }

    .member-social-info {
        position: relative;
        z-index: 1;
        margin-top: 30px;

        a {
            color: $text;
            font-size: 16px;
            margin: 0 10px;
            @include transition-duration(500ms);

            &:hover,
            &:focus {
                color: $primary;
            }
        }
    }

    &:hover,
    &:focus {
        background-color: #2274A5;

        .member-thumb {
            img {
                @include transform(rotate(25deg));
            }
        }

        h5,
        span {
            color: $white;
        }

        .member-social-info {
            a {
                color: $white;

                &:hover,
                &:focus {
                    color: $dark;
                }
            }
        }
    }
}   