// Place all the styles related to the candidats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tailimg{
    width: 20%;
    height: 20%;
}

.pic{
    background-image: url('team-cover1.jpg');
    background-size: cover;
}