  .our_skill_inner .single_skill .progress {
    height: 5px;
    background: #f4f8fc;
    border-radius: 0px;
    overflow: visible;
  }
  
  .our_skill_inner .single_skill .progress .progress-bar {
    background-image: -moz-linear-gradient(0deg, #6ebdfe 0%, #9b8aff 100%);
    background-image: -webkit-linear-gradient(0deg, #6ebdfe 0%, #9b8aff 100%);
    background-image: -ms-linear-gradient(0deg, #6ebdfe 0%, #9b8aff 100%);
    position: relative;
  }
  
  .our_skill_inner .single_skill .progress .progress-bar .progress_parcent {
    position: absolute;
    right: 0px;
    top: -40px;
    background-image: -moz-linear-gradient(10deg, #6ebdfe 0%, #9b8aff 100%);
    background-image: -webkit-linear-gradient(10deg, #6ebdfe 0%, #9b8aff 100%);
    background-image: -ms-linear-gradient(10deg, #6ebdfe 0%, #9b8aff 100%);
    color: #fff;
    padding: 0px 16px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    line-height: 34px;
    border-radius: 17px;
  }

  .buttons_area .solid_btn {
    margin-left: 40px;
  }
  
  .progress_bar_area .company_skill {
    padding-top: 0px;
  }
  
  .progress_bar_area .solution_collaps {
    margin-top: 30px;
  }
  

  
 
  /* End Contact Success and error Area css
  ============================================================================================ */
  /*---------------------------------------------------- */
  /*----------------------------------------------------*/
  /* Circle Chart Area css
  ============================================================================================ */
  .circle_chart_area {
    /*padding: 85px 0px 80px 0px;*/
    padding: 0px 0px 0px 0px;
  }
  
  .circle_progress .circle_progress_inner {
    position: relative;
    max-width: 175px;
    margin: auto;
  }
  
  .circle_progress .circle_progress_inner strong {
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    text-align: center;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #0b1033;
    margin-top: -13px;
  }
  
  .circle_progress .circle_progress_inner h4 {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #7c8d93;
    font-weight: 500;
    position: absolute;
    left: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin-top: 18px;
  }
  
  .circle_progress .circle_progress_inner .percentage {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    left: -8px;
    top: 2px;
    background: #80cfff;
    /* Old browsers */
    background: -moz-linear-gradient(left, #80cfff 0%, #997aff 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #80cfff 0%, #997aff 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#80cfff), to(#997aff));
    background: -o-linear-gradient(left, #80cfff 0%, #997aff 100%);
    background: linear-gradient(to right, #80cfff 0%, #997aff 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80cfff', endColorstr='#997aff',GradientType=1 ); */
    /* IE6-9 */
  }
  
  .circle_progress .circle_progress_inner .percentage:after {
    content: '';
    height: 10px;
    width: 10px;
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 5px;
    background: #fff;
  }
  
  /* End Circle Chart Area css
  ============================================================================================ */
  /*---------------------------------------------------- */
  