// Place all the styles related to the candidats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.tailimg{
    width: 20%;
    height: 20%;
}

#about{
	margin-left: 20px;
}

.boutton-flex{
	margin: 20px auto 0 auto;
	width: 80%;
	display: flex;
	justify-content: space-between;
}
.margin{
	margin: 80px;
}