.tailimg {
  width: 20%;
  height: 20%;
}

#about {
  margin-left: 20px;
}

.boutton-flex {
  margin: 20px auto 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.margin {
  margin-top: 80px;
}

.content {
  padding: 10px;
  border: 0px solid #bbb;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #bbb;
  width: 60%;
  margin: 0 auto;
  background-color: #FFF;
}

#create {
  font-size: 18px;
}

.new-candidat {
  padding: 20px;
  height: 100%;
}

.form-custom {
  font-size: 12px;
  padding: 10px 15px;
  border: 1px solid #bbb;
  border-radius: 10px;
}

.image-r {
  width: 100%;
}

.image-width {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.candidat-container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.candidat-content {
  border: solid 1px #aaa;
  border-radius: 10px;
  width: 400px;
  margin: 10px;
}

.candidat-content:hover {
  box-shadow: 2px 2px 2px 2px #bbb;
}

.left {
  text-align: left;
}

.pad {
  padding: 10px;
}

.boutt {
  align-items: center;
  color: #1bb1ff;
  border: solid 1px #1bb1ff;
  border-radius: 10px;
  padding: 0 20px;
}

.bottom {
  text-align: center;
}

.btn-sondage {
  margin: 0 auto;
  padding: 10px;
  color: #1bb1ff;
  border: solid 1px #1bb1ff;
  border-radius: 10px;
}

.btn-sondage:hover {
  text-decoration: underline;
}

.t-color {
  color: black;
}

#titre {
  color: white;
  font-size: 2em;
  font-family: cursive;
  text-align: center;
}

/* :: 14.0 Team CSS */
.team-content-area {
  position: relative;
  z-index: 1;
  padding: 40px;
  box-shadow: 0 4px 20px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  transition-duration: 500ms;
  background-color: #ffffff;
}

.team-content-area .member-thumb {
  margin: 0 auto 40px;
  width: 165px;
}

.team-content-area .member-thumb img {
  transition-duration: 500ms;
  width: 100%;
  border-radius: 50%;
}

.team-content-area h5 {
  transition-duration: 500ms;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0;
}

.team-content-area span {
  transition-duration: 500ms;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
}

.team-content-area .member-social-info {
  position: relative;
  z-index: 1;
  margin-top: 30px;
}

.team-content-area .member-social-info a {
  color: #636363;
  font-size: 16px;
  margin: 0 10px;
  transition-duration: 500ms;
}

.team-content-area .member-social-info a:hover, .team-content-area .member-social-info a:focus {
  color: #fc6060;
}

.team-content-area:hover, .team-content-area:focus {
  background-color: #2274A5;
}

.team-content-area:hover .member-thumb img, .team-content-area:focus .member-thumb img {
  transform: rotate(25deg);
}

.team-content-area:hover h5,
.team-content-area:hover span, .team-content-area:focus h5,
.team-content-area:focus span {
  color: #ffffff;
}

.team-content-area:hover .member-social-info a, .team-content-area:focus .member-social-info a {
  color: #ffffff;
}

.team-content-area:hover .member-social-info a:hover, .team-content-area:hover .member-social-info a:focus, .team-content-area:focus .member-social-info a:hover, .team-content-area:focus .member-social-info a:focus {
  color: #000000;
}
