// Place all the styles related to the communes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.boutton{
  padding: 10px 20px;
  color: #000;
}

.edit:hover{
  padding: 5px 20px;
  border: 2px solid #1bb1ff;
  color: #1bb1ff;
  border-radius: 5px;
}
supprimer:hover{
  padding: 5px 20px;
  border: 2px solid #dc3545;
  color: #dc3545;
  border-radius: 5px;
}