// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head {
  background: url('ext.jpg');
  background-size: cover;
  padding: 20px;
  height: 600px;
  width: 101%;
}
.header-text {
  width: 60%;
  color: #fff;
  margin: 0 auto;
  font-size: 2rem;
  font-weight: bold;
}
.topten {
  background: #aaa;
  padding: 100px;
  text-align: center;
  font-size: 100px;
}

.actu-img {
  height: 196px;
}
