// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head{
	background: url(ext.jpg);
	padding: 20px;
}
.header-text{
	width: 60%;
	color: #fff;
	margin: 0 auto;
	font-size: 2rem;
	font-weight: bold;
}
.topten{
	background: #AAA;
	padding: 100px;
	text-align: center;
	font-size: 100px;
}
