/* Upload Image */
#actuphoto{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  margin-top: 2rem;
  border: 3px dashed #9dceff;
  border-radius: .5rem;
  transition: background-color .25s ease-out;
  width: 100%;
  color: rgb(3, 87, 24);
}

#actuphoto:hover {
  background-color: #dbedff;
  cursor: pointer;
}

#actuphoto:focus{
  outline:none;
}

#actuphoto::after{
  font-family: "FontAwesome";
  content:"\f093  Deplacer l'image ici";
  text-align: center;
  color: #258f90;
  font-weight: bold;
  font-size: x-large;
  text-transform: uppercase;
}

#portrait{
position: relative;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 5rem;
margin-top: 2rem;
border: 3px dashed #9dceff;
border-radius: .5rem;
transition: background-color .25s ease-out;
width: 100%;
color: rgb(3, 87, 24);
}

#portrait:hover {
background-color: #dbedff;
cursor: pointer;
}

#portrait:focus{
outline:none;
}

#portrait::after{
font-family: "FontAwesome";
content:"\f093  Deplacer l'image ici";
text-align: center;
color: #258f90;
font-weight: bold;
font-size: x-large;
text-transform: uppercase;
}

#avatar{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
  margin-top: 2rem;
  border: 3px dashed #9dceff;
  border-radius: .5rem;
  transition: background-color .25s ease-out;
  width: 100%;
  color: rgb(3, 87, 24);
}

#avatar:hover{
  background-color: #dbedff;
  cursor: pointer;
}

#avatar:focus{
  outline:none;
}

#avatar::after{
  font-family: "FontAwesome";
  content:"\f093  Deplacer l'image ici";
  text-align: center;
  color: #258f90;
  font-weight: bold;
  font-size: x-large;
  text-transform: uppercase;
}


@font-face {
  font-family: 'themify';
  src: url('themify.eot?-fvbane');
  src: url('themify.eot?#iefix-fvbane') format('embedded-opentype'), url('themify.ttf?-fvbane') format('truetype'), url('themify.svg?-fvbane#themify') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='ti-'],
[class*=' ti-'] {
  font-family: 'themify';
  /* speak: none; */
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.graph::before{
    font-family: "FontAwesome";
    content:"\f201  ";
    font-size: 20px;
} 

.add::before{
    font-family: "FontAwesome";
    content:"\f055  ";
    
}  

.actu::before{
    font-family: "FontAwesome";
    content:"\f2d9  ";
    font-size: 20px;
}

.globe::before{
    font-family: "FontAwesome";
    content:"\f0ac  ";
}  

.home::before{
    font-family: "FontAwesome";
    content:"\f015  ";
    font-size: 20px;
}  

.new::before{
    font-family: "FontAwesome";
    content:"\f1ea  ";
  
}  

.del::before{
    font-family: "FontAwesome";
    content:"\f014  ";
    font-size: 20px;
}

.edit::before{
    font-family: "FontAwesome";
    content:"\f040  ";
    font-size: 20px;
}

.dateModif::before{
    font-family: "FontAwesome";
    content:"\f271  ";
}

.chart::before{
  font-family: "FontAwesome";
  content:"\f200  ";
  font-size: 20px;
}

.ti-angle-double-down:before {
  content: '\e663';
}

.coms::before{
  font-family: "FontAwesome";
  content:"\f086  ";
  font-size: 20px;
}

.like::before{
  font-family: "FontAwesome";
  content:"\f087  ";
  font-size: 20px;
}

.none{
  background-color: transparent;
  color: white;
  border:none;
  outline: none;
}

.text-blue{
  color: #17a2b8;
}

.text-blue:hover{
  color:white;
}

.text-red{
  color:#dc3545;
}

.text-red:hover{
  color:white;
}

.text-secondary{
  color: #6c757d;
}

.text-secondary:hover{
  color: white!important;
}



