// Place all the styles related to the searchs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.no-resultat{
	position: relative;
	width: 100%;
	height: 100%;
}

.no-resultat img{
	width: 100%;
	height: 100%;
}
.result-position{
	font-family: 'orange';
	font-size: 3rem;
	position: absolute;
	top: 150px;
	left: 40px;
}
