<%if @resultat.length != 0 %>
	<p>voici les resultats des recheches sur <%=@result1 %></p>
	<% @resultat.each do |resultat|%>
		<% @region = Region.where(communes: resultat)%>
		<%@region.each do |region|%>
			la commune
				<%= link_to resultat.name.capitalize, commune_candidats_path(resultat)%> 
			dans la région <%= link_to region.name.capitalize, region_communes_path(region)%> <br>
		<%end%>
	<%end%>
<%else%>
 	pas de resultat sur <%=@result1 %> 
<%end%>
