<div class="container">
	<h1>Créer une nouvelle région</h1>
	<div class="row">
		<%= form_tag url_for(action:'create'), method:'post' do %><br>
			Nom de la region<br>
			<input type="text" name="name" placeholder ="Nom de la région" ><br>
			<input type="submit" value="Ajouter"><br>
		<%end%>
	</div>
</div>