<div class="container">
	<div class="row">
		<%= form_tag url_for(action:'update'), method:'put' do %><br>
			Nom de la region<br>
			<input type="text" name="name" value="<%= @region.name %>" ><br>
			<input type="submit" value="Enregistrer"><br>
		<%end%>
	</div>
</div>