<div class="card-center p-5">
  <h1 class="text-center mb-5">Modifier l'engagement</h1>
    <div class="date">
    <%= form_tag url_for(action:'update'), method:'put' do %>
    
      <input type="text" name="content" value="<%= @promesse.content %>" class="form-control neo-form text-center mb-3"/>
      <div class="text-center"><input type="submit" value="Enregistrer" class="boxed-btn3 btn-modal"></div>
    <%end%>
     <div class="float-right">
        <a class="btn btn-danger" href="javascript:history.back()">
          <span class="btn-label mr-2"><i class="fa fa-arrow-left"></i></span>Retour
        </a>
      </div>
  </div>
</div>
