
            <div class="container">
	<h1>Création d'une promesse</h1>
	<div class="row">
		<%= form_tag url_for(action:'create'), method:'post' do %><br>
			Contenu de la promesse<br>
			<input type="text" name="content" ><br>
			<input type="submit" value="Ajouter"><br>
		<%end%>
	</div>
</div>

