
<!-- call css  -->
<link rel="stylesheet" href="/css/show_promess.css">
<!-- body html  -->
<div class="show-promess container text-center">
  <h4 class=" m-5 ">
    Voici les photos d'évolution du prommesse
  </h4>
  <%if @promesse.pictures.attached?%> 
    <% @promess.each do |promess|%>
      <a> <%= image_tag promess, class:"tailleimg" %></a>
    <%end%>
  <%else%>
    <p class="m-2">Pas de photo d'évolution pour le moment.</p>
  <%end%>

  <% if user_signed_in? %> <% if current_user.is_admins == true %>
  <div class=" m-5 ">
    <h5 class="m-4"> Ajouter des photos</h5>
    <%= form_tag promess_pictures_path(@promesse), multipart: true do %> <%= file_field_tag :picture %> <%= submit_tag "mettre à jour" %> <% end %>
  </div>
  <% end %> <% end %>
</div>