<!-- call css  -->
<link rel="stylesheet" href="/css/mobile.css" />

<link rel="stylesheet" href="/css/footer.css" />
<div id="footer">
  <div class="footer-copyright">
    <div class="footer-logo footer-flex">
      <a href="#"> <img src="/images/spectre-logo.png" alt="Logo Spectium" /> </a>
      <a href="#"> <img src="/images/miel-logo.png" alt="Logo Miel" /> </a>
    </div>
    <div class="footer-acces footer-flex">
      <h5 class="title">Accès rapide</h5>
      <a href="#"> lien</a>
      <a href="#"> lien</a>
      <a href="#"> lien</a>
      <a href="#"> lien</a>
    </div>
    <div class="footer-contact footer-flex">
      <h5 class="title">Contact rapide</h5>
      <div class="tel">
        <img src="/images/call.png" alt="Tel :" />
        <ul>
          <li>+22 222 222 222</li>
          <li>+22 222 222 222</li>
          <li>+22 222 222 222</li>
        </ul>
      </div>
      <p><img src="/images/map.png" alt="Adresse : " /> V6 12 Rc40</p>
      <p><img src="/images/mess.png" alt=" Mail : " class="logomail" />access@g.g</p>
      <ul class="footer-social">
        <li>
          <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter-square"></i></a>
        </li>
      </ul>
    </div>
    <div class="copyright">
      <h5>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
        Copyright &copy;<!-- <script>document.write(new Date().getFullYear());</script> -->
        by <a href="#" class="color" target="_blank">SPECTRIUM</a>
        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
      </h5>
    </div>
  </div>
</div>
